[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake
skip-name-resolve
# 禁用SSL验证及开启binlog
skip_ssl
log-bin=/var/lib/mysql/mysql-bin
server-id=123654
expire_logs_days = 30